<div id="wrapper" class="row">
	<div id="list" class="span8">
    <ul class="tabs">
      <li class="active"><a href="#">Contest</a></li>
      <li><a href="#">Free</a></li>
      <li><a href="#">Nearby</a></li>
      <li><a href="#">Watching</a></li>
    </ul>
    <div class="items">
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label success">$ 10</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">英国的一辆咖啡豆汽车刷新了陆地气化驱动汽车的速度记录？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label notice"># 10</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">刚才说的那位朋友的夫人还有一句相关名言：为了你这种少了你建筑史也不会改写的所谓建筑师的事业，我有必要这么牺牲么？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label success">$ 5</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">自2005年以后，惠普公司共花了8000多万美元去开除它的CEO么？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label notice"># 30</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">君子满腹天理，故以顺理为乐。小人满腹人欲，故以得欲为乐。欲无时可足，故乐不胜忧？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label notice"># 5</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">Ubuntu宣布应用程序商店: Ubuntu宣布了应用程序开发者网站，帮助开发者创建和发布应用程序？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label success">$ 15</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">Win 8允许用户在多台电脑之间共享设置和应用: 大多数PC用户都有自己的偏好设置和偏好的应用程序么？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label notice"># 15</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">为了你这种少了你建筑史也不会改写的所谓建筑师的事业，我有必要这么牺牲么？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="stats">
          <div class="item-row">
            <span class="label success">$ 5</span>
          </div>
        </div>
        <div class="content">
          <div class="item-row">
            <div class="text">中国的宪法与许多国家的宪法一样，声明了公民所享有的权利？</div>
          </div>
          <div class="item-row">
            <div class="timestamp" data-time="1317108227000" data-long-form="true">4小时前</div>
          </div>
        </div>
      </div>
    </div>
	</div>
	<div id="content" class="span9">
    As a convention, buttons are used for actions while links are used for objects. For instance, "Download" could be a button and "recent activity" could be a link.

    All buttons default to a light gray style, but a number of functional classes can be applied for different color styles. These classes include a blue .primary class, a light-blue .info class, a green .success class, and a red .danger class.
	</div>
</div>