<div class="alert-message block-message warning">
<div class="user-info">
  {{#user}}
  <img src="../assets/rails.png" ï¼>
  <a href="#!/users/{{username}}">{{realname}}</a>
  {{/user}}
</div>
<div class="context">
  {{{content}}}
</div>
<div class="answer_time">
  {{created_at}}
</div>
</div>