
<div id="question_tabHeader" class="alert-message info">
  <span class="close">x</span>
  <p>请输入问题</p>
</div>
<div class="question_tabContent">
  <div id="question_tabWarning"></div>
  <div class="question_tabInfo">
    <textarea id="question_info" title="请输入问题" wrap="virtual"  aria-label="输入您的问题" ></textarea>
  </div>

  <div class="clearfix">
    <label for="">金钱</label>
    <div class="question_tabMoney">
      <select class="medium" id="question_money" class="question_askInterest">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select> 元
    </div>
    <label for="">积分</label>
    <div class="question_tabCredit">
      <input type="text" value="" id="question_credit" class="question_askInterest"> 分
    </div>

    <div class="question_control">
      <div><input type="button" class="btn primary" id="question_submit" value="提问"/></div>
    </div>
  </div>
</div>
