<div class="head-nav">
    <ul class="tabs">
      <li class={{paid}}><a href="#!/questions/paid">付费</a></li>
      <li class={{free}}><a href="#!/questions/free">免费</a></li>
      <li class={{watch}}><a href="#!/questions/watch">关注</a></li>
    </ul>
</div>