<div class="stats">
  <div class="item-row">
    <span class="label success"># {{credit}}</span>
    <span class="label success">$ {{money}}</span>
  </div>
</div>
<div class="content">
  <div class="item-row">
    <div class="text">{{title}}</div>
  </div>
  <div class="item-row">
    <div class="timestamp" data-long-form="true">{{timestamp}}</div>
  </div>
</div>