<div class="question_info_main">

  <div class="question_info_title alert-message block-message info">
    <h2 class=" ">{{title}}</h2>
    <a href="javascrip:;" class="question_info_more">更多</a>
  </div>
  <div class="question_info_return">
    <span class="label warning">
      ¥{{money}}
    </span>
    <span class="label success">
      #{{credit}}
    </span>
  </div>

  <div class="">
    <div class="question_info_content alert-message block-message info">
        <a class="question_info_asker"><img src="../assets/rails.png" /></a>
        <p>{{content}}</p>
       <div class="question_info_time  alert-message block-message success">
          {{created_at}}
        </div>
    </div>
   

  </div>
</div>
