<div class="question_info_main">
		<h2 class="question_info_title">{{title}}</h2>
		<a href="javascrip:;" class="question_info_more">更多</a>
		<img src="" class="question_info_asker"/>
	<div class="">
		<div class="question_info_content">
		{{content}}
		</div>
		<div class="question_info_time">
		{{created_at}}
		</div>
		<div class="question_info_money">
       ¥{{money}}
		</div>
		<div class="question_info_credit">
			#{{credit}}
		</div>
	</div>
	</div>
