/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require bootstrap
*= require_tree . 
*/

#doc{
	padding:30px 0;
}
#doc ::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
#doc ::-webkit-scrollbar-track-piece {
	background-color: #FAFAFA;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
}
.question-item{
	padding:10px 0;
	clear: both;
	display: block;
	outline: none;
	font-size:14px;
	color:#444;
	border-bottom: 1px solid #EBEBEB;
}
.question-item .stats{
	float:left;
	width:32px;
	height:48px;
	/*  border:1px solid #ebebeb;*/
}
.question-item .content{
	margin-left: 42px;
	min-height: 48px;
}
.question-item .text{
	font-family: Arial,"Helvetica Neue",sans-serif;
	line-height: 19px;
	word-wrap: break-word;
}
.question-item .timestamp{
	color:#999;
	font-size:11px;
}
.item-row {
	display: block;
	position: relative;
	line-height: 15px;
}

a.buttonLink	{
	width: 160px;
	height:46px;
	line-height:46px;
	color:white;
	font-size:30px;
	border: 1px solid #EDA42E;
	text-shadow: 0 -1px 0 #EDA42E;
	background: #FEC965;
	background: -moz-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEC965),color-stop(100%,#FEBC3E));
	background: -webkit-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -o-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -ms-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEC965',endColorstr='#FEBC3E',GradientType=0);
	background: linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	display: inline-block;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 5px 4px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
a.buttonLink:hover{
	text-decoration:none;
	color:#ddd;
}
/*details-pane*/
#details-pane-outer {
	position: fixed;
	top: 72px;
	left: 20%;

	width: 400px;
	_position: absolute;
	_bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop));
}
#details-pane-outer .opened {
	border: none;
	margin: 0;
	border-left: 1px solid #D9DCE0;
}
.details-pane-shell {
	position: relative;
	min-width: 500px;
	max-width: 500px;
	margin: 0 auto;
	left: 0;
}
.details-pane {
	overflow: hidden;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
	position: relative;
	width: 400px;
}
.pane-components {
	width:100%;
	overflow:auto;
}

.details-pane.opened {
	background: #EBF0F5;
}

.pane-toolbar {
	text-align: right;
}
.pane-toolbar a.close {
	display: block;
	width:400px;
	font-weight: 800;
	font-size: 20px;
	text-decoration: none;
	padding: 0 15px 3px;
	padding: 2px 15px 2px	9;
	line-height: 27px;
	background: #0e0;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
}


#main-content{
	position:relative;
	z-index:2;
	background:#fff;
	height:100%;
}
.question_info_main{
	position:relative;
	width: 350px;
	min-height: 340px;
	line-height:15px;
	padding: 25px 20px 50px;
	margin: 0 auto;
}
.question_info_title{
	font-size: 18px;
}
.question_info_time{
	font-size:10px;
	padding:0 !important;
	line-height:1 !important;;
}
#question_tab{
	position: absolute;
	display: none;
	top:1px;
	left:1px;
	padding: 10px;
	border: none;
	background: gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	width: 420px;
	z-index: 99;
}
#question_tabHeader{
	top:0px;
	left:0px;
	width:390px;
	height:20px;
} 
#question_tabHeader p{
	font:17px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
	font-weight:25em;
	padding:5px 0 0 -5px;
	margin:0;
	word-wrap:break-word;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	height: 33px;
	font-size: 14px;
	text-shadow: 0 -1px 0 #0B3F61;
}
#question_tabHeader span {
	float: right;
	cursor: pointer;
}
.question_info_content{
	font-size:17px;
	margin-top:25px;
}
.question_tabContent{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: white;
	padding: 20px 10px 0 10px;
}
.question_info_return{
	border: none;
	font-weight: blod;
	color:#000;
	padding-left: 5px;
	margin: 0px;
}
.question_info_return span{
	margin-left:5px;
	padding:5px;
}
.question_info_asker{
	
	padding:15px;
}
.question_info_asker img{
	width:37px;
	height:37px;
}

#ask_question{
	padding: 4px 10px;
}


.question_control{
	padding: 10px 0;
	text-align: right;
}

.question_tabInfo{
	-webkit-box-shadow:1px 1px #ddd;
	-moz-box-shadow:1px 1px #ddd;
	box-shadow: 1px 1px #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: white;
	border: 1px solid #CCC!important;
	padding: 7px 5px!important;
	color: #333;
}
.question_tabMoney{
	margin:5px 0 0;
}
.question_askInterest{
	width:50px;
}




.register{
	width: 160px;
	height:46px;
	line-height:46px;
	color:white;
	font-size:30px;
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	display: inline-block;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 5px 4px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
/*answer box*/
.editor_box{
	width:350px;
	background:#ddd;
	margin-left:20px;
	padding:5px;
	float: left;
}
.editor{
	border:5px solid #ddd;
	width:320px;
	min-height:100px;
	outline: none;
	-moz-outline: none;
	margin-top:5px;
	padding:5px;
	background:#fff;
	font-size:15px;

}
#content{
	width:0px;
	height:0px;
	display:none;
}
.editor_toolbar a{
	height:25px;
	width:25px;
	border: 1px solid #000;
	cursor: pointer;
	color:black;
	font-family: Georgia,default;
	font-size: 11px;
	line-height: 20px;
	margin-left: 5px;;
	padding: 4px 2px 3px;
	text-align: center;
	text-shadow: 0 1px white;
	text-decoration:none;
}
.editor_toolbar .bold{
	font-weight:bold;
}
.editor_toolbar .em{
	font-style:italic;
}
.editor_toolbar .underline{
	text-decoration:underline;
}
.editor_toolbar .ol{
/*	background: url("ol.gif") repeat-x top left;*/
		
}
.editor_toolbar .button span{
	
}
.editor_toolbar .ul{
	
}
.editor_toolbar .link{
	
}
#answer_question{
	float:right;
}

.user-info img{
		width:37px;
		height:37px;
	}
	.context{
		padding:5px;
		font-size:15px;
	}
	.answer_time{
		font-size:10px;
		text-align: right;
	}


