<div id="doc">
    <div id="header">
     <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">略晓互动</a></h3>
          <ul id="nav" class="nav">
            <li id="nav-home" class="active"><a href="#">首页</a></li>
            <li id="nav-question"><a href="#">问题</a></li>
            <li id="nav-dynamic"><a href="#">动态</a></li>
            <li id="nav-inbox"><a href="#">通知</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">feipinghuang</a>
              <ul class="dropdown-menu">
                <li><a href="#">主页</a></li>
                <li><a href="#">设置</a></li>
                <li class="divider"></li>
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>     
    <div id="page-outer">
      <div id="page-container">
      </div>
    </div>
    <div id="footer">
    </div>
</div>