<!DOCTYPE html>
<html>
<head>
  <title>Lxhd</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
  TK = "sRuW6CUepA3ByBwtiTKj";
  lxhd.loggedIn = true;
  lxhd.currentUserName = "feipinghuang";
  $(function () {
    App.initialize();
  });
</script>
<%= yield %>
</body>
</html>
